.title {
    font-size:25px;
    font-weight: bolder;
    text-align: center;
}

.el-row {
    margin-top :20px;
}

::v-deep .el-table .el-table__cell {
    text-align: center;
} 

.el-card {
    position: relative;
    width: 60%;
    left: 20%;
}
.el-table {
    left: 22%;
    width:56%;
}

.main-button {
    position: relative;
    width:200px;
    left : 50%;
    margin-left:-100px;
    margin-top: 40px;
}

.canceled {
    color : red;
    margin-left :20px;
}