
.el-row{
    margin-top :10px;
}
.el-row .nomargin{
    margin-top:5px;
}
.el-radio-group {
    margin-left:60px;
}
.price {
    margin-top :-10px;
    font-size : 30px;
    color :orange;
}

.main-button{
    margin-top : -5px;
    width:200px;
}
.title {
    font-size:25px;
    font-weight: bolder;
    text-align: center;
}