
::v-deep .el-table .el-table__cell {
    text-align: center;
} 
.title {
    font-size:25px;
    font-weight: bolder;
    text-align: center;
}

.result-list {
    position: relative;
    width:70%;
    left:15%;
}

.el-row
{
    width :100%;
}
